
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"   />
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="/templatemo_564_plot_listing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/templatemo_564_plot_listing/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/templatemo_564_plot_listing/assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="/templatemo_564_plot_listing/assets/css/animated.css">
    <link rel="stylesheet" href="/templatemo_564_plot_listing/assets/css/owl.css">
    <!--

    TemplateMo 564 Plot Listing

    https://templatemo.com/tm-564-plot-listing

    -->
</head>
<body>
    <div>
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li><div><a class="btn btn-dark" href="/Ekle/Index"><i class="fa fa-plus"></i> Ev Bilgisi Ekle</a></div></li>
                                <li><div><a class="btn btn-dark" href="/Ara/Index/"><i class="fa fa-arrow-left"></i> Ana Sayfa</a></div></li>
                                <li><a></a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
    @RenderBody()
</body>
</html>
<script src="/templatemo_564_plot_listing/vendor/jquery/jquery.min.js"></script>
<script src="/templatemo_564_plot_listing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/templatemo_564_plot_listing/assets/js/owl-carousel.js"></script>
<script src="/templatemo_564_plot_listing/assets/js/animation.js"></script>
<script src="/templatemo_564_plot_listing/assets/js/imagesloaded.js"></script>
<script src="/templatemo_564_plot_listing/assets/js/custom.js"></script>