
@{
    ViewBag.Title = "Bilgiyok";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<html style="background-color:#545454;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body style="background-color:#545454;">
    <div class="container">
        <div style="background-color: #545454">
            <div style="background-color: #545454;color:white; margin-top: 22%; margin-left: 41%;">
                <font size="7" face="Parisienne">
                    Üzgünüz
                </font>
            </div>
            <div style="background-color: #545454; color: white; margin-left: 15%; ">
                <font size="4" face="Luthier">
                    Web Sitesi yeni olduğundan veri yok isterseniz siz örnek bir veri girişi yaparak bize yardımcı olabilirsiniz.<br />
                </font>
            </div>

            <font size="6" face="Parisienne">
                <div style="background-color: #545454; color: white; margin-left: 41%; ">
                    Zeynep Çakın
                </div>
            </font>
        </div>
    </div>
</body>
</html>

