@model IEnumerable<EntityLayer.Concrete.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Burası İndex</h2>
        <br />
        <table class="align-items-xxl-center">
            <tr>
                <th>ID</th>
                <th>Kullanıcı Adı</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.UserName</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
